.App {
  display: flex;
flex-direction: row;
 flex-wrap: wrap;
  font-size: 1em;
}

img{
  width:200px;
}
.card{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 20px;
  overflow: hidden;
}


